 body{
    min-height: 100vh;
    height: 100%;
    margin: 0;
    background-color: rgb(143, 141, 141);
}
.HTML, .Hardware, .JS, .Python{
    gap: 30px;
    min-height: 90vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Image{
    position: absolute;
    left: 15px;
    top: 20px;
}
img{
    width: 50px;
    height: 50px;
}
iframe{
    width: 600px;
    height: 339px;
}
