body {
  background-color: lightgoldenrodyellow;
  font-family: sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  color: brown;
}

.container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-red, .container-yellow, .container-orange, 
.container-green, .container-blue, .container-purple, 
.container-brown, .container-black, .container-white, 
.container-gray, .container-pink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 60%;
  margin-bottom: 30px;
}

.sub-red, .sub-yellow, .sub-orange, .sub-green, 
.sub-blue, .sub-brown, .sub-purple, .sub-black, 
.sub-white, .sub-gray, .sub-pink {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  flex: 1;
  border: 1px solid gray;
  border-radius: 15px;
  min-width: 0;
  text-align: center;
}

.sub-red { background-color: #ff4d4d; }
.sub-yellow { background-color: rgba(255, 255, 42, 0.792); }
.sub-orange { background-color: rgb(255, 178, 36); }
.sub-green { background-color: rgb(33, 240, 33); }
.sub-blue { background-color: rgb(140, 216, 241); }
.sub-purple { background-color: rgba(155, 89, 182, 0.7); }
.sub-brown { background-color: rgba(165, 42, 42, 0.7); }
.sub-black { background-color: #333; color: white; }
.sub-white { background-color: #ffffff; }
.sub-gray { background-color: #d3d3d3; }
.sub-pink { background-color: #ffc0cb; }

ul {
  padding: 0;
  list-style-position: inside;
}

p {
  font-weight: bold;
}
